<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}" enctype="multipart/form-data">
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" dynamic="true"
                resizable="false" closable="false" width="45em" closeOnEscape="true">
            <p:ajax event="close" resetValues="true" update="grp" oncomplete="#{resetFilter}" />
            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>

            <p:messages id="nameValidationMessage" showDetail="true" autoUpdate="true" for="nameValidationMessage" />
            <h:panelGroup id="group" style="display: block">
                <div class="ui-fluid">
                    <p:panelGrid id="grp" styleClass="dialog-grid-panel noBorders" rendered="#{not empty controller.dialogAttrArtifact}">
                        <p:row>
                            <p:column class="alignRight dialog-labels-width-2" style="padding-top: 0.5em;">
                                <h:panelGroup id="artifactNameLabel">
                                    <p:outputLabel for="artifactName" value="Name" rendered="#{!controller.dialogAttrArtifact.artifactInternal}"/>
                                </h:panelGroup>
                            </p:column>
                            <p:column>
                                <h:panelGroup id="artifactNameValue">
                                    <p:inputText id="artifactName" maxlength="128" required="true" tabindex="1" 
                                        requiredMessage="Please enter a name" 
                                        rendered="#{!controller.dialogAttrArtifact.artifactInternal}"
                                        value="#{controller.dialogAttrArtifact.artifactName}"/>
                                    <br />
                                    <p:message for="artifactName" />
                                </h:panelGroup>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column class="alignRight dialog-labels-width-2" style="padding-top: 0.5em;">
                                <p:outputLabel for="artifactDesc" value="Description:" />
                            </p:column>
                            <p:column>
                                <h:panelGroup>
                                    <p:inputTextarea id="artifactDesc" rows="5" maxlength="255" tabindex="2" 
                                        required="true" requiredMessage="Please enter a description" autoResize="false" 
                                        value="#{controller.dialogAttrArtifact.artifactDescription}" />
                                    <br />
                                    <p:message for="artifactDesc" />
                                </h:panelGroup>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column class="alignRight alignMiddle dialog-labels-width-2">
                                <p:outputLabel value="File :" />
                            </p:column>
                            <p:column>
                                <p:selectBooleanCheckbox id="options" value="#{controller.dialogAttrArtifact.artifactInternal}" 
                                        disabled="#{controller.dialogAttrArtifact.artifactBeingModified}" tabindex="3">
                                    <p:ajax process="@this" update="artifactNameLabel artifactNameValue urlLabel urlValue 
                                                                    uploader uploadFile saveButton" />
                                </p:selectBooleanCheckbox>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column class="alignRight dialog-labels-width-2" style="padding-top: 0.5em;">
                                <h:panelGroup id="urlLabel">
                                    <p:outputLabel value="URL :" rendered="#{!controller.dialogAttrArtifact.artifactInternal}"/>
                                </h:panelGroup>
                            </p:column>
                            <p:column>
                                <h:panelGroup id="urlValue" >
                                    <p:inputTextarea id="artifactURI" rows="5" required="true" tabindex="4" 
                                            value="#{controller.dialogAttrArtifact.artifactURI}" autoResize="false" 
                                            requiredMessage="Please enter an URL" validatorMessage="Invalid URL" 
                                            rendered="#{!controller.dialogAttrArtifact.artifactInternal}">
                                        <f:validator validatorId="custom.urlValidator" />
                                    </p:inputTextarea>
                                    <p:message for="artifactURI" />
                                </h:panelGroup>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="2">
                                <h:panelGroup id="uploader">
                                    <p:fileUpload fileUploadListener="#{controller.dialogAttrArtifact.handleImportFileUpload}" 
                                        update="uploader uploadFile saveButton" 
                                        mode="advanced" auto="false" fileLimit="1" dragDropSupport="true"
                                        rendered="#{controller.dialogAttrArtifact.artifactInternal}" />
                                </h:panelGroup>
                                <h:panelGroup id="uploadFile">
                                    <h:panelGroup rendered="#{controller.dialogAttrArtifact.artifactInternal and not empty controller.dialogAttrArtifact.name}">
                                        <div class="ui-message ui-message-warn ui-widget ui-corner-all">
                                            <span class="ui-message-info-icon"></span>
                                            <span class="ui-message-info-detail">
                                                <p:outputLabel value="#{controller.dialogAttrArtifact.name} uploaded" />
                                            </span>
                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </div>

                <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                    <p:commandButton value="Save" styleClass="dialogButton defaultCommand" id="saveButton" icon="ui-icon-disk" 
                            oncomplete="if (args &amp;&amp; !args.validationFailed) {PF('#{widgetName}').hide(); #{resetFilter}}" 
                            actionListener="#{controller[submitHandler]}" tabindex="5" update="#{componentToUpdate} grp" 
                            disabled="#{not controller.dialogAttrArtifact.artifactBeingModified 
                                        and controller.dialogAttrArtifact.artifactInternal 
                                        and empty controller.dialogAttrArtifact.name}" title="Save" />
                    <p:commandButton value="Cancel" styleClass="dialogButton" update="grp" resetValues="true" 
                            onclick="PF('#{widgetName}').hide(); #{resetFilter}" title="Cancel" 
                            tabindex="6" action="#{controller.resetFields}" icon="ui-icon-close" />
                </p:panel>

                <p:defaultCommand target="saveButton" />
            </h:panelGroup>
        </p:dialog>
    </h:form>
</ui:composition>
