<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:form id="#{formId}">
		<p:overlayPanel widgetVar="#{formId}" dismissable="false"
				showCloseIcon="true" style="max-width: 512px; max-height:512px;">
			<p:outputPanel>
				<p:panel rendered="#{not empty valueProvider.value}"
						style="overflow: auto;">
				<h:outputText value="#{valueProvider.displayValue}" escape="false"
						style="font-family: monospace; white-space: pre;" />
				</p:panel>
			</p:outputPanel>
		</p:overlayPanel>
	</h:form>
</ui:composition>
