<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <p:dialog widgetVar="#{widgetName}" id="#{widgetName}" modal="true" resizable="false" closable="false" 
            dynamic="true" width="45em" closeOnEscape="true">
            <p:ajax event="close" resetValues="true" update="grp" listener="#{propertyManager.resetFields()}" 
                oncomplete="#{resetFilter}" />

            <f:facet name="header">
                <h:outputText value="#{dialogTitle}" />
            </f:facet>

            <div class="ui-fluid">
                <p:panelGrid id="grp" styleClass="dialog-grid-panel noBorders" rendered="#{not empty propertyManager.dialogProperty}">
                    <p:row>
                        <p:column styleClass="alignRight alignMiddle dialog-labels-width-1">
                            <p:outputLabel for="propertyName" value="Name:" />
                        </p:column>
                        <p:column>
                            <p:inputText id="propertyName" value="#{propertyManager.dialogProperty.name}" tabindex="1" 
                                required="true" validator="#{propertyManager.nameValidator}" 
                                requiredMessage="Please enter a name."/>
                            <p:message for="propertyName"/>
                            <p:messages for="propertyNameMsg" id="propertyNameMsg" showDetail="true" autoUpdate="true" />
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column styleClass="alignRight dialog-labels-width-1" style="padding-top: 0.5em;">
                            <p:outputLabel for="propertyDesc" value="Description:" />
                        </p:column>
                        <p:column>
                            <p:inputTextarea id="propertyDesc" rows="5" maxlength="255" required="true" tabindex="2" 
                                requiredMessage="Please enter a description" autoResize="false" 
                                value="#{propertyManager.dialogProperty.description}" />
                            <br/>
                            <p:message for="propertyDesc" />
                        </p:column>
                    </p:row>
    
                    <p:row rendered="#{not empty propertyManager.dialogProperty.usedBy}">
                        <p:column colspan="2" style="text-align: center; font-weight: bold;">
                            Property is already in use by: #{propertyManager.dialogProperty.usedBy}.
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column styleClass="alignRight alignMiddle dialog-labels-width-1">
                            <p:outputLabel for="propertyDataType" value="Data Type:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="propertyDataType" value="#{propertyManager.dialogProperty.dataType}" 
                                    var="dt" tabindex="3" converter="#{dataTypeConverter}" required="true" 
                                    requiredMessage="Please select data type" filter="true" filterMatchMode="contains" 
                                    disabled="#{not empty propertyManager.dialogProperty.usedBy}">
                                <p:ajax update=":#{formId}:propertyUnit"/>
                                <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{dataTypeManager.dataTypes}" var="dataType" 
                                    itemLabel="#{dataType.name}" itemValue="#{dataType}" />
                                <p:column>
                                    <h:outputText value="#{dt.name}" />
                                </p:column>                    
                            </p:selectOneMenu>
                            <p:message for="propertyDataType" />
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column styleClass="alignRight alignMiddle dialog-labels-width-1">
                            <p:outputLabel for="propertyUnit" value="Unit:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="propertyUnit" value="#{propertyManager.dialogProperty.unit}" var="u" 
                                    converter="#{unitConverter}" tabindex="4" filter="true" filterMatchMode="contains" 
                                    disabled="#{not propertyManager.dialogProperty.unitComboEnabled or 
                                                not empty propertyManager.dialogProperty.usedBy}">
                                <f:selectItem itemLabel="Select One" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{unitManager.unitViews}" var="unitView" 
                                    itemLabel="#{unitView.name}" itemValue="#{unitView.unit}" />
                                <p:column>
                                    <h:outputText value="#{u.name}" />
                                </p:column>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
    
                    <p:row>
                        <p:column styleClass="alignRight dialog-labels-width-1" style="padding-top: 1em;">
                            <p:outputLabel for="valueUniqueness" value="Uniqueness:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="valueUniqueness" value="#{propertyManager.dialogProperty.valueUniqueness}" 
                                    required="true" requiredMessage="Please select value uniqueness" tabindex="5" 
                                    disabled="#{not empty propertyManager.dialogProperty.usedBy}">
                                <f:selectItems value="#{propertyManager.uniqunessValues}" />
                            </p:selectOneMenu>
                            <p:message for="valueUniqueness" />
                        </p:column>
                    </p:row>
                    
                    <p:row>
                        <p:column styleClass="alignRight alignMiddle dialog-labels-width-1">
                            <p:outputLabel for="propertyRegExp" value="Regular Expression:" />
                        </p:column>
                        <p:column>
                            <p:inputText id="propertyRegExp" value="#{propertyManager.dialogProperty.regexp}" tabindex="1" 
                                validator="#{propertyManager.regexpValidator}" />
                            <p:message for="propertyRegExp"/>
                        </p:column>
                    </p:row>
                    
                    <p:row rendered="#{batchCreation}">
                        <p:column>
                            <h:outputLabel value="Batch:" for="batchCreation" />
                        </p:column>
                        <p:column>
                            <p:selectBooleanCheckbox id="batchCreation" tabindex="6" value="#{propertyManager.dialogProperty.batchCreation}" >
                                <p:ajax update=":#{formId}:startSpinner :#{formId}:endSpinner :#{formId}:zeroesSpinner" />
                            </p:selectBooleanCheckbox>
                        </p:column>
                    </p:row>
                    <p:row rendered="#{batchCreation}">
                        <p:column>
                            <h:outputLabel value="Start {i}:" for="startSpinner" />
                        </p:column>
                        <p:column>
                            <p:spinner id="startSpinner" value="#{propertyManager.dialogProperty.batchStartIndex}" min="0" 
                                    disabled="#{!propertyManager.dialogProperty.batchCreation}" tabindex="7"
                                    validator="#{propertyManager.dialogProperty.batchStartValidator}">
                                <p:ajax process="@this"/>
                            </p:spinner>
                            <p:message for="startSpinner" />
                        </p:column>
                    </p:row>
                    <p:row rendered="#{batchCreation}">
                        <p:column>
                            <h:outputLabel value="End {i}:" for="endSpinner" />
                        </p:column>
                        <p:column>
                            <p:spinner id="endSpinner" value="#{propertyManager.dialogProperty.batchEndIndex}" min="0" 
                                    disabled="#{!propertyManager.dialogProperty.batchCreation}" tabindex="8" 
                                    validator="#{propertyManager.dialogProperty.batchEndValidator}">
                                <p:ajax process="@this"/>
                            </p:spinner>
                            <p:message for="endSpinner" />
                        </p:column>
                    </p:row>
                    <p:row rendered="#{batchCreation}">
                        <p:column>
                            <h:outputLabel value="Leading 0 {i}:" for="zeroesSpinner" />
                        </p:column>
                        <p:column>
                            <p:spinner id="zeroesSpinner" value="#{propertyManager.dialogProperty.batchLeadingZeros}" 
                                min="0" max="10" tabindex="9" disabled="#{!propertyManager.dialogProperty.batchCreation}" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </div>
            <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                <p:commandButton value="Save" id="save" styleClass="dialogButton defaultCommand" title="Save" 
                        oncomplete="if (args &amp;&amp; !args.validationFailed){PF('#{widgetName}').hide();#{saveAction}}" 
                        icon="ui-icon-disk" action="#{propertyManager[submitHandler]}" 
                        update="grp #{updateComponents}" tabindex="10" />
                <p:commandButton value="Cancel" styleClass="dialogButton" oncomplete="PF('#{widgetName}').hide();#{resetFilter}" 
                        update="grp" resetValues="true" action="#{propertyManager.resetFields()}" tabindex="11" 
                        icon="ui-icon-close" title="Cancel" />
            </p:panel>

            <p:defaultCommand target="save" />
        </p:dialog>
    </h:form>
</ui:composition>
