<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:rc="http://java.sun.com/jsf/composite/comps"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <h:form id="menuform">
        <script type="text/javascript">
        // <![CDATA[
        function templateDownloadStart() {
            PF('statusDialog').show();
        }
        function templateDownloadStop() {
            PF('statusDialog').hide();
        }
        // ]]>
        </script>

        <p:growl id="menumsgs" showDetail="true" />

        <p:menubar id="mainMenu" styleClass="menubar">

            <p:menuitem value="Home" title="View slots and containers" url="/" icon="ui-icon-home" 
                styleClass="#{request.requestURI.endsWith('home.xhtml') ? 'menu-selected' : ''}"  />

            <p:menuitem value="Devices" title="View devices" url="/devices.xhtml" icon="ui-icon-gear" 
                styleClass="#{request.requestURI.endsWith('devices.xhtml') ? 'menu-selected' : ''}" />

            <p:menuitem value="Device Types" title="View device types" url="/device-types.xhtml" icon="ui-icon-wrench" 
                styleClass="#{request.requestURI.endsWith('device-types.xhtml') ? 'menu-selected' : ''}" />

            <p:menuitem value="Properties" title="View properties" url="/properties.xhtml"
                styleClass="#{request.requestURI.endsWith('properties.xhtml') ? 'menu-selected' : ''}" icon="ui-icon-contact" />

            <p:menuitem value="Enumerations" title="View enumerations" url="/enums.xhtml"
                styleClass="#{request.requestURI.endsWith('enums.xhtml') ? 'menu-selected' : ''}" icon="ui-icon-radio-off" />

            <p:menuitem value="Units" title="View units" url="/units.xhtml" icon="ui-icon-folder-open" 
                styleClass="#{request.requestURI.endsWith('units.xhtml') ? 'menu-selected' : ''}" />

            <p:menuitem value="Log" icon="ui-icon-script" title="View log" url="/log.xhtml"
                styleClass="#{request.requestURI.endsWith('log.xhtml') ? 'menu-selected' : ''}" />

            <p:submenu label="Templates" icon="ui-icon-calculator">
                <p:menuitem value="Slots" title="Download EXCEL template file for slots and containers"
                    url="/resources/templates/ccdb_slots.xlsx" />
                <p:menuitem value="Signals List" title="Download EXCEL template file for signals"
                    url="/resources/templates/ccdb_signals_list.xlsx" />
                <p:menuitem value="Devices" title="Download EXCEL template file for devices"
                    url="/resources/templates/ccdb_devices.xlsx" />
                <p:menuitem value="Device Types" title="Download EXCEL template file for device types"
                    url="/resources/templates/ccdb_device_types.xlsx" />
                <p:menuitem value="Properties" title="Download EXCEL template file for properties"
                    url="/resources/templates/ccdb_properties.xlsx" />
                <p:menuitem value="Enumerations" title="Download EXCEL template file for enumerations"
                    url="/resources/templates/ccdb_enumerations.xlsx" />
                <p:menuitem value="Units" title="Download EXCEL template file for units"
                    url="/resources/templates/ccdb_units.xlsx" />
            </p:submenu>

            <p:submenu label="Help" icon="ui-icon-help">
                <p:menuitem value="Conventions" title="Download conventions" 
                    url="/resources/help/ccdb_conventions.pdf" target="_blank"/>
            </p:submenu>

            <f:facet name="options">
                <rc:logincomp ajax="false" />
            </f:facet>
        </p:menubar>
    </h:form>

    <h:panelGroup rendered="#{request.requestURI.endsWith('units.xhtml')}">
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importUnitsForm" />
            <ui:param name="dialogTitle" value="Import Units" />
            <ui:param name="widgetName" value="importUnits" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('units.xhtml') ? unitManager : null}" />
        </ui:include>
    </h:panelGroup>

    <h:panelGroup rendered="#{request.requestURI.endsWith('properties.xhtml')}">
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importPropertiesForm" />
            <ui:param name="dialogTitle" value="Import Properties" />
            <ui:param name="widgetName" value="importProperties" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('properties.xhtml') ? propertyManager : null}" />
        </ui:include>
    </h:panelGroup>

    <h:panelGroup rendered="#{request.requestURI.endsWith('device-types.xhtml')}">
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importCompTypesForm" />
            <ui:param name="dialogTitle" value="Import Device Types" />
            <ui:param name="widgetName" value="importCompTypes" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('device-types.xhtml') ? componentTypeManager : null}" />
        </ui:include>
    </h:panelGroup>

    <h:panelGroup rendered="#{request.requestURI.endsWith('devices.xhtml')}">
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importDevicesForm" />
            <ui:param name="dialogTitle" value="Import Devices" />
            <ui:param name="widgetName" value="importDevices" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('devices.xhtml') ? devicesController : null}" />
        </ui:include>
    </h:panelGroup>

    <h:panelGroup rendered="#{request.requestURI.endsWith('enums.xhtml')}">
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importEnumsForm" />
            <ui:param name="dialogTitle" value="Import Enumerations" />
            <ui:param name="widgetName" value="importEnums" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('enums.xhtml') ? dataTypeManager : null}" />
        </ui:include>
    </h:panelGroup>

    <h:panelGroup rendered="#{request.requestURI.endsWith('home.xhtml')}">
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importSignalsForm" />
            <ui:param name="dialogTitle" value="Import Signals" />
            <ui:param name="widgetName" value="importSignals" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('home.xhtml') ? hierarchiesController : null}" />
        </ui:include>
        <ui:include src="../loaders/single-file-DL.xhtml">
            <ui:param name="formId" value="importSlotsForm" />
            <ui:param name="dialogTitle" value="Import Slots" />
            <ui:param name="widgetName" value="importSlots" />
            <ui:param name="controller" value="#{request.requestURI.endsWith('home.xhtml') ? hierarchiesController : null}" />
        </ui:include>
    </h:panelGroup>
</ui:composition>
