<ui:composition template="/template/template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rc="http://java.sun.com/jsf/composite/comps"
    xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="deviceTypesForm">
        <p:growl id="growl" showDetail="true" globalOnly="true"/>
            <p:panelGrid styleClass="noBorders noPadding">
                <p:row>
                    <p:column style="width: 35vw; min-width: 44em; padding-right: 1em !important;">
                        <p:fieldset legend="Device Type" id="devTypeFieldset" style="box-sizing: border-box; height: calc(100vh - 7em)">
                            <div style="height: calc(100% - 3em)">
                                <p:dataTable id="deviceTypeTable" widgetVar="deviceTypeTableVar" var="deviceType"
                                        value="#{componentTypeManager.lazyModel}" scrollable="true" scrollWidth="100%" 
                                        scrollHeight="100%" emptyMessage="No records found." rowKey="#{deviceType.id}" 
                                        selection="#{componentTypeManager.selectedDeviceTypes}" selectionMode="multiple" 
                                        resizableColumns="true" tableStyle="word-wrap: break-word;"  
                                        lazy="true" liveScroll="true" scrollRows="50" rows="50" style="overflow: hidden">
                                    <p:ajax event="filter" update="deviceTypesForm:exportButton"
                                        oncomplete="resetLiveTableState(PF('deviceTypeTableVar'));" />
                                    <p:ajax event="rowSelect" listener="#{componentTypeManager.onRowSelect}"
                                        oncomplete="PF('attributesDataTable').clearFilters();"  
                                        update=":deviceTypesForm:deleteButton :deviceTypesForm:editButton :deviceTypesForm:addButton
                                            :deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:editAttrButton
                                            :deviceTypesForm:deleteAttrButton :deviceTypesForm:duplicateButton" />
                                    <p:ajax event="rowUnselect" listener="#{componentTypeManager.onRowSelect}" 
                                        oncomplete="PF('attributesDataTable').clearFilters();"  
                                        update=":deviceTypesForm:deleteButton :deviceTypesForm:editButton :deviceTypesForm:addButton
                                            :deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:editAttrButton
                                            :deviceTypesForm:deleteAttrButton :deviceTypesForm:duplicateButton" />
    
                                    <p:column headerText="Name" sortBy="#{deviceType.name}" filterBy="#{deviceType.name}"
                                            filterMatchMode="contains">
                                        <h:outputText value="#{deviceType.name}" />
                                    </p:column>
    
                                    <p:column headerText="Description" sortBy="#{deviceType.description}" filterBy="#{deviceType.description}"
                                            filterMatchMode="contains">
                                        <h:outputText value="#{deviceType.description}" />
                                    </p:column>
                                </p:dataTable>
                            </div>

							<p:panel styleClass="buttonPanel">
	                            <p:commandButton icon="ui-icon-plus"
	                                disabled="#{not securityPolicy.getUIHint('DEVTYPE_CREATE')}" title="Add device type"
	                                actionListener="#{componentTypeManager.prepareAddPopup()}" value="Add"
	                                update=":addDeviceTypeForm:addDeviceType"
	                                oncomplete="PF('addDeviceType').show();" />
	                            <p:commandButton id="editButton"
	                                value="Edit" action="#{componentTypeManager.prepareEditPopup()}" title="Edit device type"
	                                update=":editDeviceTypeForm" icon="ui-icon-pencil" oncomplete="PF('editDeviceType').show();"
	                                disabled="#{not componentTypeManager.singleDeviceTypeSelected or not securityPolicy.getUIHint('DEVTYPE_MODIFY')}" />
	                            <p:commandButton id="deleteButton" icon="ui-icon-trash" value="Delete" title="Delete device type"
	                                oncomplete="PF('deleteDeviceTypes').show();"
	                                disabled="#{empty componentTypeManager.selectedDeviceTypes or not securityPolicy.getUIHint('DEVTYPE_DELETE')}" 
	                                update=":deleteDeviceTypesForm:deleteDeviceTypes"
	                                actionListener="#{componentTypeManager.checkDeviceTypesForDeletion()}" />
	                            <p:commandButton id="importButton" icon="ui-icon-arrowthickstop-1-n" value="Import" 
	                                title="Import device types from EXCEL template file" 
	                                oncomplete="PF('importCompTypes').show();" 
	                                disabled="#{not securityPolicy.getUIHint('DEVTYPE_CREATE')}" update=":importCompTypesForm" 
	                                actionListener="#{componentTypeManager.prepareImportPopup()}" />
	                            <p:commandButton id="exportButton" icon="ui-icon-disk" value="Export" 
	                                title="Export device types into EXCEL template file"
	                                oncomplete="PF('exportDevTypes').show();"
	                                disabled="#{componentTypeManager.isDataTableEmpty()}" update=":exportDevTypesForm:exportDevTypes"
	                                actionListener="#{componentTypeManager.simpleTableDialog.prepareTableExportPopup}" />
	                            <p:commandButton id="duplicateButton" icon="ui-icon-copy" value="Duplicate" 
	                                title="Duplicate device types" 
	                                disabled="#{empty componentTypeManager.selectedDeviceTypes or not securityPolicy.getUIHint('DEVTYPE_CREATE')}"
	                                oncomplete="PF('duplicateDialog').show();" update=":duplicateForm:duplicateDialog" />                           
							</p:panel>
                        </p:fieldset>
                    </p:column>
                    <p:column style="width: 65vw; min-width: 30em;">
                        <p:fieldset legend="Properties" id="propFieldset" style="box-sizing: border-box; height: calc(100vh - 7em)">
                            <div style="height: calc(100% - 3em)">
                                <rc:new-attribute-table id="attributesDataTable" controllerBean="#{comptypeAttributesController}"
                                    updateButtons=":deviceTypesForm:editAttrButton :deviceTypesForm:deleteAttrButton"
                                    parentName="Device Type" overlay="#{comptypeAttributesController.overlay}" overlayPanel="attributeOverlayPanel" />
                            </div>

							<p:panel styleClass="buttonPanel">
	                            <p:menuButton id="addButton" value="Add"
	                                disabled="#{not componentTypeManager.singleDeviceTypeSelected 
	                                            or not securityPolicy.getUIHint('DEVTYPE_CREATE')}">
	                                <p:menuitem value="Device Type Property" oncomplete="PF('addPropertyValue').show();"
	                                    actionListener="#{comptypeAttributesController.prepareForPropertyValueAdd}"
	                                    update=":addPropertyValueForm:addPropertyValue" title="Add device type property" />
	                                <p:menuitem value="Device Property" oncomplete="PF('deviceInstanceProperty').show();"
	                                    actionListener="#{comptypeAttributesController.prepareForDevicePropertyAdd}"
	                                    update=":deviceInstancePropertyForm:deviceInstanceProperty" title="Add device property"/>
	                                <p:menuitem value="Slot Property" oncomplete="PF('installationSlotProperty').show();"
	                                    actionListener="#{comptypeAttributesController.prepareForSlotPropertyAdd}"
	                                    update=":installationSlotPropertyForm:installationSlotProperty"
	                                    title="Add slot property" />
	                                <p:menuitem value="Tag" oncomplete="PF('deviceTypeTag').show();" update=":deviceTypeTagForm"
	                                    actionListener="#{comptypeAttributesController.prepareForTagAdd}" title="Add tag" />
	                                <p:menuitem value="Artifact" oncomplete="PF('addArtifact').show();"
	                                    actionListener="#{comptypeAttributesController.prepareForArtifactAdd}"
	                                    update=":addArtifactForm:addArtifact" title="Add artifact" />
	                            </p:menuButton>
	                            <p:commandButton id="editAttrButton" value="Edit" icon="ui-icon-pencil" title="Edit property"
	                                action="#{comptypeAttributesController.prepareModifyPropertyPopUp()}"
	                                update=":modifyPropertyValueForm :modifyArtifactForm"
	                                disabled="#{not comptypeAttributesController.singleAttributeSelected or
	                                    not comptypeAttributesController.canEdit(comptypeAttributesController.selectedAttributes.get(0))
	                                    or not securityPolicy.getUIHint('DEVTYPE_MODIFY')}" />
	                            <p:commandButton id="deleteAttrButton" value="Delete" icon="ui-icon-trash"
	                                oncomplete="PF('deleteAttributes').show()"
	                                update=":deleteAttributesForm:deleteAttributes" title="Delete properties"
	                                actionListener="#{comptypeAttributesController.checkAttributesForDeletion()}"
	                                disabled="#{empty comptypeAttributesController.selectedAttributes 
	                                                or not securityPolicy.getUIHint('DEVTYPE_DELETE')}" />
							</p:panel>
                        </p:fieldset>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <script type="text/javascript">
                // <![CDATA[
                jQuery(document).ready(function() {
                    var $this = PF("deviceTypeTableVar");            

                    $this.sortableColumns.on("click.dataTable", function(e, metaKeyOn) {
                        $this.scrollBody.scrollTop(1);
                        $this.allLoadedLiveScroll = false;
                        $this.scrollOffset = 0;
                    });
                });
                // ]]>
            </script>

        </h:form>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml" >
            <ui:param name="formId" value="deleteDeviceTypesForm" />
            <ui:param name="dialogTitle" value="Delete Device Types" />
            <ui:param name="widgetName" value="deleteDeviceTypes" />
            <ui:param name="controller" value="#{componentTypeManager}" />
            <ui:param name="deletePreventionList" value="#{componentTypeManager.usedDeviceTypes}" />
            <ui:param name="deleteList" value="#{componentTypeManager.selectedDeviceTypes}" />
            <ui:param name="filteredDialogList" value="#{componentTypeManager.filteredDialogTypes}" />
            <ui:param name="submitHandler" value="onDelete" />
            <ui:param name="formsToUpdate" value=":deviceTypesForm:deviceTypeTable :deviceTypesForm:deleteButton
                                                :deviceTypesForm:editButton :deviceTypesForm:exportButton
                                                :deviceTypesForm:attributesDataTable:attributesDataTable
                                                :deviceTypesForm:editAttrButton :deviceTypesForm:deleteAttrButton
                                                :deviceTypesForm:duplicateButton :deviceTypesForm:growl
                                                :deviceTypesForm:addButton" />
            <ui:param name="closeDialogActions"
                value="PF('deviceTypeTableVar').clearFilters(); PF('attributesDataTable').clearFilters();" />
            <ui:param name="entityType" value="device types" />
            <ui:param name="entityName" value="Device Type" />
        </ui:include>
        
        <ui:include src="/resources/dialogs/duplicate-confirmation.xhtml" >
            <ui:param name="formId" value="duplicateForm" />
            <ui:param name="controller" value="#{componentTypeManager}" />
            <ui:param name="duplicateList" value="#{componentTypeManager.selectedDeviceTypes}" />
            <ui:param name="filteredDuplicateList" value="#{componentTypeManager.filteredDialogTypes}" />
            <ui:param name="formsToUpdate" value=":deviceTypesForm:deviceTypeTable :deviceTypesForm:growl 
                                                :deviceTypesForm:attributesDataTable:attributesDataTable
                                                :deviceTypesForm:addButton" />
            <ui:param name="closeDialogActions" value="PF('deviceTypeTableVar').clearFilters(); PF('attributesDataTable').clearFilters();" />
            <ui:param name="entityType" value="device types" />
            <ui:param name="entityName" value="Device Type" />
        </ui:include>

        <ui:include src="/resources/dialogs/device-type.xhtml">
            <ui:param name="formId" value="addDeviceTypeForm" />
            <ui:param name="dialogTitle" value="Add Device Type" />
            <ui:param name="widgetName" value="addDeviceType" />
            <ui:param name="submitHandler" value="onAdd" />
        </ui:include>

        <ui:include src="/resources/dialogs/device-type.xhtml">
            <ui:param name="formId" value="editDeviceTypeForm" />
            <ui:param name="dialogTitle" value="Edit Device Type" />
            <ui:param name="widgetName" value="editDeviceType" />
            <ui:param name="submitHandler" value="onChange" />
        </ui:include>

        <ui:include src="/resources/dialogs/property-value.xhtml" >
            <ui:param name="formId" value="modifyPropertyValueForm" />
            <ui:param name="dialogTitle" value="Edit Property" />
            <ui:param name="widgetName" value="modifyPropertyValue" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="modifyPropertyValue" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/artifact.xhtml" >
            <ui:param name="formId" value="modifyArtifactForm" />
            <ui:param name="dialogTitle" value="Edit Artifact" />
            <ui:param name="widgetName" value="modifyArtifact" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="modifyArtifact" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/multi-property-value.xhtml" >
            <ui:param name="formId" value="addPropertyValueForm" />
            <ui:param name="dialogTitle" value="Add Properties" />
            <ui:param name="widgetName" value="addPropertyValue" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="saveMultiplePropertyValues" />
            <ui:param name="valueStr" value="Value" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/multi-property-value.xhtml" >
            <ui:param name="formId" value="installationSlotPropertyForm" />
            <ui:param name="dialogTitle" value="Add Properties" />
            <ui:param name="widgetName" value="installationSlotProperty" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="addNewPropertyValueDefs" />
            <ui:param name="valueStr" value="Default Value" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/multi-property-value.xhtml" >
            <ui:param name="formId" value="deviceInstancePropertyForm" />
            <ui:param name="dialogTitle" value="Add Properties" />
            <ui:param name="widgetName" value="deviceInstanceProperty" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="addNewPropertyValueDefs" />
            <ui:param name="valueStr" value="Default Value" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/tag.xhtml" >
            <ui:param name="formId" value="deviceTypeTagForm" />
            <ui:param name="dialogTitle" value="Add Tag" />
            <ui:param name="widgetName" value="deviceTypeTag" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="addNewTag" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:deviceTypeTable :deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/artifact.xhtml" >
            <ui:param name="formId" value="addArtifactForm" />
            <ui:param name="dialogTitle" value="Add Artifact" />
            <ui:param name="widgetName" value="addArtifact" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="submitHandler" value="modifyArtifact" />
            <ui:param name="componentToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable :deviceTypesForm:growl" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml" >
            <ui:param name="formId" value="deleteAttributesForm" />
            <ui:param name="dialogTitle" value="Delete Properties" />
            <ui:param name="widgetName" value="deleteAttributes" />
            <ui:param name="controller" value="#{comptypeAttributesController}" />
            <ui:param name="deletePreventionList" value="#{comptypeAttributesController.nonDeletableAttributes}" />
            <ui:param name="deleteList" value="#{comptypeAttributesController.selectedAttributes}" />
            <ui:param name="filteredDialogList" value="#{comptypeAttributesController.filteredDialogAttributes}" />
            <ui:param name="submitHandler" value="deleteAttributes" />
            <ui:param name="formsToUpdate" value=":deviceTypesForm:attributesDataTable:attributesDataTable
                                                :deviceTypesForm:editAttrButton :deviceTypesForm:deleteAttrButton :deviceTypesForm:growl" />
            <ui:param name="closeDialogActions" value="PF('attributesDataTable').clearFilters();" />
            <ui:param name="entityType" value="properties" />
            <ui:param name="entityName" value="Property" />
        </ui:include>

        <ui:include src="/resources/dialogs/export-table.xhtml">
            <ui:param name="formId" value="exportDevTypesForm" />
            <ui:param name="widgetName" value="exportDevTypes" />
            <ui:param name="dialogTitle" value="Export Device Types" />
            <ui:param name="fileFormatSelection" value="#{componentTypeManager.simpleTableDialog.fileFormat}" />
            <ui:param name="includeHeader" value="#{componentTypeManager.simpleTableDialog.includeHeaderRow}" />
            <ui:param name="tableFile" value="#{componentTypeManager.simpleTableDialog.exportedTable}" />
        </ui:include>
        
		<ui:include src="/resources/dialogs/overlay-value.xhtml">
			<ui:param name="formId" value="attributeOverlayPanel" />
			<ui:param name="valueProvider" value="#{comptypeAttributesController.overlay}" />
		</ui:include>
        
    </ui:define>
</ui:composition>
