<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <f:facet name="first"> 
            <meta http-equiv="X-UA-Compatible" content="IE=EDGE" /> 
        </f:facet> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />      
        <h:outputStylesheet name="/css/layout.css"/>
        <link rel="shortcut icon" href="resources/images/CCDB.ico" />
        <title>#{msgs.webTitle}</title>
    </h:head>

    <h:body style="overflow: hidden">
        <h1 class="menubar ui-corner-all ui-helper-clearfix ui-menu ui-menubar ui-widget ui-widget-content"
                style="padding: 0.5em; font-size: large;">Session Expired</h1>
        <p style="font-weight: bold;">You will be redirected to the login page in 3 seconds.</p>
        <p>If the redirect does not work, click <a href="#{request.contextPath}/">here</a>.</p>
        
        <script type="text/javascript">
        // <![CDATA[
			function redirect() {
				window.location.href = '#{request.contextPath}/';
			}
			window.setTimeout(redirect, 3000);
        // ]]>
        </script>
    </h:body>
</html>
