<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="/template/template.xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rc="http://java.sun.com/jsf/composite/comps"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="content">
        <h:form id="hierarchies">
            <script type="text/javascript">
                //<![CDATA[                         
                function hierarchiesResizeAll() {
                	clearRelatedFilters();
                	calculateContentHeight();
                }
                function getVisibleTree() {
                    var visibleTreeTable = PF('hierarchyWidget');
                    if (PF('powersWidget').jq.is(':visible')) {
                    	visibleTreeTable = PF('powersWidget');
                    }
                    if (PF('ctrlWidget').jq.is(':visible')) {
                        visibleTreeTable = PF('ctrlWidget');
                    }
                    return visibleTreeTable;
                }
                function clearRelatedFilters() {
                    PF('attributesDataTable').clearFilters();
                    PF('relationshipsWidget').clearFilters();
                    PF('installationWidget').clearFilters();
                }
                // ]]>
            </script>
            <p:growl id="growl" showDetail="true" globalOnly="true"/>
            <p:panelGrid id="hierarchiesContainer" styleClass="noBorders noPadding">
                <p:row>
                    <p:column style="padding-right: 1em !important;">
                        <p:fieldset id="treeFieldSet" legend="Slots" style="box-sizing: border-box; height: calc(100vh - 7em)">
                            <div style="height: calc(100% - 8em)">
                                <p:tabView id="hierarchyTabs" style="width: 33em; height: 100%">
                                    <p:ajax event="tabChange" listener="#{hierarchiesController.onTabChange}"
                                        update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                            :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                            :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:tree
                                            :hierarchies:hierarchyTabs:powersTree :hierarchies:hierarchyTabs:controlsTree
                                            :hierarchies:hierarchyTabs:connectsTree :hierarchies:pasteButton 
                                            :hierarchies:cutButton :hierarchies:copyButton :hierarchies:slotExport 
                                            :hierarchies:collapseButton :hierarchies:expandButton"                                    
                                        onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide(); hierarchiesResizeAll();" />
                                    <p:tab id="INCLUDES" title="Contains" style="height: 100%" 
                                            titletip="View slots and containers through 'contains relationships'">
                                        <h:panelGroup layout="block">
                                            <p:inputText id="filterContainsTree" value="#{hierarchiesController.containsTree.filter}"
                                                         style="box-sizing: border-box; width: calc(100% - 2em);">
                                                <p:ajax event="keyup" delay="1000" 
                                                        listener="#{hierarchiesController.containsTree.applyFilter()}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                                :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                                :hierarchies:addButton :hierarchies:content:installationDetails 
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:tree                                                        
                                                                :hierarchies:pasteButton :hierarchies:cutButton :hierarchies:copyButton" 
                                                        oncomplete="hierarchiesResizeAll();" />                                                 
                                            </p:inputText>
                                            <pe:triStateCheckbox id="containsFilterMode" value="#{hierarchiesController.containsModeTriState}"
                                                    stateOneIcon="ui-icon-star"
                                                    stateOneTitle="Filter on slots and containers" 
                                                    stateTwoIcon="ui-icon-wrench" stateTwoTitle="Filter on slots only" 
                                                    stateThreeIcon="ui-icon-folder-collapsed" 
                                                    stateThreeTitle="Filter on containers only"
                                                    style="width: 2em; text-align: center;">
                                                <p:ajax event="change" oncomplete="hierarchiesResizeAll();" 
                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                                            :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                            :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:tree                                                        
                                                            :hierarchies:pasteButton :hierarchies:cutButton :hierarchies:copyButton" 
                                                    listener="#{hierarchiesController.updateContainsTreeFilterMatchMode}" />
                                            </pe:triStateCheckbox>
                                        </h:panelGroup>
                                        <div style="height: calc(100% - 2em);">
                                            <p:treeTable id="tree" value="#{hierarchiesController.containsTree.rootNode}" var="installationSlot"
                                                     selectionMode="multiple" selection="#{hierarchiesController.containsTree.selectedNodesArray}"
                                                     scrollable="true" scrollWidth="100%" scrollHeight="100%" rowStyleClass="treeRows"
                                                     widgetVar="hierarchyWidget" nodeVar="slotNode">
                                                <p:ajax event="select" listener="#{hierarchiesController.onNodeSelect}"
                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                                            :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                            :hierarchies:content:editRelationship :hierarchies:pasteButton 
                                                            :hierarchies:cutButton :hierarchies:copyButton"
                                                    onstart="delayedSpinnerStart();"
                                                    oncomplete="hierarchiesResizeAll();scrollSelectedIntoView(getVisibleTree());
                                                    PF('relationshipsWidget').clearFilters();delayedSpinnerStop();" />
                                                <p:ajax event="unselect" listener="#{hierarchiesController.onNodeUnselect}"
                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                                            :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                            :hierarchies:content:editRelationship :hierarchies:pasteButton 
                                                            :hierarchies:cutButton :hierarchies:copyButton"
                                                    onstart="delayedSpinnerStart();"
                                                    oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:column id="name" headerText="Name" style="white-space: normal;">
                                                    <h:outputText value="" rendered="#{installationSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-wrench" />
                                                    <h:outputText value="" rendered="#{!installationSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-folder-collapsed" />
                                                    <h:outputText value="#{installationSlot.name}" styleClass="#{hierarchiesController.calcNameClass(installationSlot)}"
                                                        title="#{installationSlot.description}#{installationSlot.hostingSlot ? ' ('.concat(installationSlot.deviceTypeName).concat(')') : ''}" />
                                                    <p:link rendered="#{installationSlot.hostingSlot and hierarchiesController.linkToNaming(installationSlot)}" target="_blank" 
                                                            href="#{hierarchiesController.namingRedirectionUrl}#{installationSlot.name}" title="Open in naming service">
                                                        <h:outputText value="" rendered="#{installationSlot.hostingSlot}" 
                                                            style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                                                            styleClass="ui-icon ui-icon-extlink"/>
                                                    </p:link>
                                                    <h:outputText value="" rendered="#{hierarchiesController.clipboardSlots.contains(installationSlot) or
                                                                                        (hierarchiesController.cliboardOperation == 'COPY'
                                                                                        and hierarchiesController.isAncestorNodeInClipboard(slotNode))}"
                                                        style="display:inline-block; vertical-align:bottom !important; float: right; right: 1.2em; position: relative;"
                                                        styleClass="ui-icon ui-icon-clipboard" />
                                                    <h:outputText value="" rendered="#{hierarchiesController.cliboardOperation == 'COPY'
                                                                                        and (hierarchiesController.clipboardSlots.contains(installationSlot)
                                                                                            or hierarchiesController.isAncestorNodeInClipboard(slotNode))}"
                                                        style="display:inline-block; vertical-align:bottom !important; float: right; position: relative; right: 0; bottom: 0.15em; opacity: 0.7;"
                                                        styleClass="ui-icon ui-icon-clipboard" />
                                                </p:column>
                                            </p:treeTable>                                            
                                        </div>                                    
                                    </p:tab>
                                    <p:tab id="CONTROLS" title="Controls" style="height: 100%" 
                                            titletip="View slots and containers through 'controls relationships'">
                                        <p:inputText id="filterControlsTree" value="#{hierarchiesController.controlsTree.filter}"
                                                     style="box-sizing: border-box; width:100%">
                                            <p:ajax event="keyup" delay="1000" listener="#{hierarchiesController.controlsTree.applyFilter()}"
                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                                            :hierarchies:content:slotAttributes  :hierarchies:content:addRelationship 
                                                            :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:controlsTree                                                         
                                                            :hierarchies:pasteButton :hierarchies:cutButton :hierarchies:copyButton" 
                                                    oncomplete="hierarchiesResizeAll();" />
                                        </p:inputText>
                                        <div style="height: calc(100% - 2em)">
                                            <p:treeTable id="controlsTree" value="#{hierarchiesController.controlsTree.rootNode}" var="ctrlSlot"
                                                     selectionMode="multiple" selection="#{hierarchiesController.controlsTree.selectedNodesArray}"
                                                     scrollable="true" scrollWidth="100%" scrollHeight="100%" rowStyleClass="treeRows"
                                                     widgetVar="ctrlWidget">

                                                <p:ajax event="select" listener="#{hierarchiesController.onNodeSelect}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:content:installationDetails
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship"
                                                        onstart="delayedSpinnerStart();"
                                                        oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:ajax event="unselect" listener="#{hierarchiesController.onNodeUnselect}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:content:installationDetails
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship"
                                                        onstart="delayedSpinnerStart();"
                                                        oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:column id="ctrlName" headerText="Name">
                                                    <h:outputText value="" rendered="#{ctrlSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-wrench" />
                                                    <h:outputText value="" rendered="#{!ctrlSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-folder-collapsed" />
                                                    <h:outputText value="#{ctrlSlot.name}" styleClass="#{hierarchiesController.calcNameClass(ctrlSlot)}"
                                                        title="#{ctrlSlot.description}#{ctrlSlot.hostingSlot ? ' ('.concat(ctrlSlot.deviceTypeName).concat(')') : ''}" />
                                                    <p:link rendered="#{ctrlSlot.hostingSlot and hierarchiesController.linkToNaming(ctrlSlot)}" target="_blank" 
                                                            href="#{hierarchiesController.namingRedirectionUrl}#{ctrlSlot.name}" title="Open in naming service">
                                                        <h:outputText value="" rendered="#{ctrlSlot.hostingSlot}" 
                                                            style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                                                            styleClass="ui-icon ui-icon-extlink"/>
                                                    </p:link>
                                                </p:column>
                                            </p:treeTable>
                                        </div>
                                    </p:tab>
                                    <p:tab id="POWERS" title="Powers" style="height: 100%" 
                                            titletip="View slots and containers through 'powers relationships'">
                                        <p:inputText id="filterPowersTree" value="#{hierarchiesController.powersTree.filter}"
                                                     style="box-sizing: border-box; width:100%">
                                            <p:ajax event="keyup" delay="1000" listener="#{hierarchiesController.powersTree.applyFilter()}"
                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                                            :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                            :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:powersTree                                                        
                                                            :hierarchies:pasteButton :hierarchies:cutButton :hierarchies:copyButton"
                                                    oncomplete="hierarchiesResizeAll();" />                                                 
                                        </p:inputText>

                                        <div style="height: calc(100% - 2em)">
                                            <p:treeTable id="powersTree" value="#{hierarchiesController.powersTree.rootNode}" var="powerSlot"
                                                     selectionMode="multiple" selection="#{hierarchiesController.powersTree.selectedNodesArray}"
                                                     scrollable="true" scrollWidth="100%" scrollHeight="100%" rowStyleClass="treeRows"
                                                     widgetVar="powersWidget">
                                                <p:ajax event="select" listener="#{hierarchiesController.onNodeSelect}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:content:installationDetails
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship"
                                                        onstart="delayedSpinnerStart();"
                                                        oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:ajax event="unselect" listener="#{hierarchiesController.onNodeUnselect}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:content:installationDetails
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship"
                                                        onstart="delayedSpinnerStart();"
                                                        oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:column id="powersName" headerText="Name">
                                                    <h:outputText value="" rendered="#{powerSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-wrench" />
                                                    <h:outputText value="" rendered="#{!powerSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-folder-collapsed" />
                                                    <h:outputText value="#{powerSlot.name}" styleClass="#{hierarchiesController.calcNameClass(powerSlot)}"
                                                        title="#{powerSlot.description}#{powerSlot.hostingSlot ? ' ('.concat(powerSlot.deviceTypeName).concat(')') : ''}" />
                                                    <p:link rendered="#{powerSlot.hostingSlot and hierarchiesController.linkToNaming(powerSlot)}" target="_blank" 
                                                            href="#{hierarchiesController.namingRedirectionUrl}#{powerSlot.name}" title="Open in naming service">
                                                        <h:outputText value="" rendered="#{powerSlot.hostingSlot}" 
                                                            style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                                                            styleClass="ui-icon ui-icon-extlink"/>
                                                    </p:link>    
                                                </p:column>
                                            </p:treeTable>
                                       </div>
                                    </p:tab>
                                    <p:tab id="CONNECTS" title="Connects" rendered="#{hierarchiesController.cableDBStatus}" 
                                            titletip="View slots and containers through 'connects relationships'">
                                        <p:inputText id="filterConnectsTree" value="#{hierarchiesController.connectsTree.filter}"
                                                     style="box-sizing: border-box; width:100%">
                                            <p:ajax event="keyup" delay="1000" listener="#{hierarchiesController.connectsTree.applyFilter()}"
                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
                                                            :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
                                                            :hierarchies:addButton :hierarchies:content:installationDetails 
                                                            :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                            :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:connectsTree                                                        
                                                            :hierarchies:pasteButton :hierarchies:cutButton :hierarchies:copyButton"
                                                    oncomplete="hierarchiesResizeAll();" />                                                 
                                        </p:inputText>                                
                                        <div style="height: calc(100% - 2em)">
                                            <p:treeTable id="connectsTree" value="#{hierarchiesController.connectsTree.rootNode}" var="connectsSlot"
                                                     selectionMode="multiple" selection="#{hierarchiesController.connectsTree.selectedNodesArray}"
                                                     scrollable="true" scrollWidth="100%" scrollHeight="100%" rowStyleClass="treeRows"
                                                     widgetVar="connectsWidget">
                                                <p:ajax event="select" listener="#{hierarchiesController.onNodeSelect}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:content:installationDetails
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship" 
                                                        onstart="delayedSpinnerStart();"
                                                        oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:ajax event="unselect" listener="#{hierarchiesController.onNodeUnselect}"
                                                        update=":hierarchies:content:relationsTable :hierarchies:content:installationDetails
                                                                :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
                                                                :hierarchies:content:editRelationship" 
                                                        onstart="delayedSpinnerStart();"
                                                        oncomplete="hierarchiesResizeAll();delayedSpinnerStop();" />
                                                <p:column id="connectsName" headerText="Name">
                                                    <h:outputText value="" rendered="#{connectsSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-wrench" />
                                                    <h:outputText value="" rendered="#{!connectsSlot.hostingSlot}"
                                                        style="display:inline-block; vertical-align:bottom !important"
                                                        styleClass="ui-icon ui-icon-folder-collapsed" />
                                                    <h:outputText value="#{connectsSlot.name}" styleClass="#{hierarchiesController.calcNameClass(connectsSlot)}"
                                                        title="#{connectsSlot.description}#{connectsSlot.hostingSlot ? ' ('.concat(connectsSlot.deviceTypeName).concat(')') : ''}" />                                                
                                                    <p:commandLink rendered="#{connectsSlot.hostingSlot 
                                                            and (not empty connectsSlot.cableName
                                                            or hierarchiesController.linkToNaming(connectsSlot))}" update=":linksForm" oncomplete="PF('linksDlg').show()">
                                                        <h:outputText value="" rendered="#{connectsSlot.hostingSlot}" 
                                                            style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                                                            styleClass="ui-icon ui-icon-extlink"/>
                                                        <f:setPropertyActionListener target="#{hierarchiesController.linkSlot}" value="#{connectsSlot}"/>
                                                    </p:commandLink>
                                                </p:column>
                                            </p:treeTable>
                                        </div>
                                    </p:tab>
                                </p:tabView>
                            </div>
							<p:panel style="margin-top: 2.5ex !important;" styleClass="buttonRow">
                                <p:menuButton id="addButton" value="Add"
                                        disabled="#{not hierarchiesController.includesActive
                                                    or hierarchiesController.multipleNodesSelected
                                                    or not securityPolicy.getUIHint('HIERARCHY_CREATE')}">
                                    <p:menuitem value="Container" oncomplete="PF('addSlotDialog').show();"
                                            title="Add container"
                                            actionListener="#{hierarchiesController.prepareContainerAddPopup}"
                                            update=":addSlotForm:addSlotDialog" icon="ui-icon-folder-collapsed"
                                            disabled="#{hierarchiesController.multipleNodesSelected
                                                            or hierarchiesController.selectedNodeSlot.hostingSlot}" />
                                    <p:menuitem value="Slot" oncomplete="PF('addSlotDialog').show();"
                                            title="Add slot"
                                            actionListener="#{hierarchiesController.prepareInstallationSlotPopup}"
                                            update=":addSlotForm:addSlotDialog" disabled="#{not hierarchiesController.singleNodeSelected}"
                                            icon="ui-icon-wrench" />
                                </p:menuButton>
                                <p:commandButton id="editButton" icon="ui-icon-pencil" value="Edit" title="Edit slot"
                                    update=":editSlotForm:editSlotDialog"
                                    disabled="#{not hierarchiesController.singleNodeSelected 
                                                or not hierarchiesController.includesActive
                                                or not securityPolicy.getUIHint('HIERARCHY_MODIFY')}"
                                    oncomplete="PF('editSlotDialog').show();"
                                    actionListener="#{hierarchiesController.prepareEditPopup()}" />
                                <p:commandButton id="deleteButton" icon="ui-icon-trash" value="Delete" title="Delete slots"
                                    oncomplete="PF('deleteSlots').show();"
                                    disabled="#{not hierarchiesController.includesActive
                                                    or empty hierarchiesController.containsTree.selectedNodes
                                                    or not securityPolicy.getUIHint('HIERARCHY_DELETE')}"
                                    update=":deleteSlotsForm" actionListener="#{hierarchiesController.prepareDeletePopup()}" />
                                <p:menuButton value="Import" id="import"
                                        disabled="#{not hierarchiesController.includesActive}"
                                        title="Import slots and signals from EXCEL template file">
                                    <p:menuitem value="Slots" id="importSlots" icon="ui-icon-arrowthickstop-1-n"
                                        title="Import slots from EXCEL template file" 
                                        action="#{hierarchiesController.prepareImportSlotPopup()}" 
                                        disabled="#{not hierarchiesController.includesActive and 
                                                    not securityPolicy.getUIHint('HIERARCHY_ALL')}"
                                        update=":importSlotsForm" oncomplete="PF('importSlots').show();" />
                                    <p:menuitem value="Signals List" id="importSignals" icon="ui-icon-signal"
                                        title="Import signals from EXCEL template file" 
                                        action="#{hierarchiesController.prepareImportSignalPopup()}" 
                                        disabled="#{not hierarchiesController.includesActive and 
                                                    not securityPolicy.getUIHint('IMPORT_SIGNALS')}"
                                        update=":importSignalsForm" oncomplete="PF('importSignals').show();" />
                                </p:menuButton>
                                <p:commandButton id="slotExport" value="Export" title="Export slots into EXCEL template file" 
                                        icon="ui-icon-disk"
                                        oncomplete="PF('exportSlots').show();" update=":exportSlotsForm:exportSlots" 
                                        disabled="#{not hierarchiesController.includesActive or hierarchiesController.containsEmpy}" 
                                        actionListener="#{hierarchiesController.simpleTableDialog.prepareTableExportPopup}" />
							</p:panel>
							<p:panel styleClass="buttonRow">
                                <p:commandButton id="upButton" icon="ui-icon-arrowthick-1-n" value="Up" title="Move up"
                                    oncomplete="hierarchiesResizeAll(); scrollSelectedIntoView(PF('hierarchyWidget'));"
                                    update=":hierarchies:hierarchyTabs:tree :hierarchies:upButton :hierarchies:downButton"
                                    disabled="#{not hierarchiesController.singleNodeSelected
                                                    or not hierarchiesController.includesActive
                                                    or not empty hierarchiesController.containsTree.filter
                                                    or hierarchiesController.singleSelectedSlotView.first
                                                    or not securityPolicy.getUIHint('MOVE_SLOT')}"
                                    actionListener="#{hierarchiesController.moveSlotUp()}" />
                                <p:commandButton id="downButton" icon="ui-icon-arrowthick-1-s" value="Down" 
                                    title="Move down" 
                                    oncomplete="hierarchiesResizeAll(); scrollSelectedIntoView(PF('hierarchyWidget'));"
                                    update=":hierarchies:hierarchyTabs:tree :hierarchies:downButton :hierarchies:upButton"
                                    disabled="#{not hierarchiesController.singleNodeSelected
                                                    or not hierarchiesController.includesActive
                                                    or not empty hierarchiesController.containsTree.filter
                                                    or hierarchiesController.singleSelectedSlotView.last
                                                    or not securityPolicy.getUIHint('MOVE_SLOT')}"
                                    actionListener="#{hierarchiesController.moveSlotDown()}" />
                                <p:commandButton value="Expand" id="expandButton" icon="ui-icon-folder-open"
                                    title="Expand selected items"
                                    action="#{hierarchiesController.expandTreeNodes}" onstart="delayedSpinnerStart();"
                                    oncomplete="hierarchiesResizeAll(); delayedSpinnerStop();"                                   
                                    update=":hierarchies:hierarchyTabs:tree :hierarchies:hierarchyTabs:controlsTree 
                                            :hierarchies:hierarchyTabs:powersTree
                                            :hierarchies:hierarchyTabs:connectsTree"
                                    disabled="#{hierarchiesController.displayedTreeEmpty}" />
                                <p:commandButton value="Collapse" id="collapseButton" icon="ui-icon-folder-collapsed"
                                    title="Collapse selected items"
                                    action="#{hierarchiesController.collapseTreeNodes}" onstart="delayedSpinnerStart();"
                                    oncomplete="hierarchiesResizeAll(); delayedSpinnerStop();"                                    
                                    update=":hierarchies:hierarchyTabs:tree :hierarchies:hierarchyTabs:controlsTree 
                                            :hierarchies:hierarchyTabs:powersTree
                                            :hierarchies:hierarchyTabs:connectsTree"
                                    disabled="#{hierarchiesController.displayedTreeEmpty}" />
							</p:panel>
							<p:panel styleClass="buttonRow">
                                <p:commandButton value="Copy" id="copyButton" icon="ui-icon-copy"
                                    title="Put selected items to clipboard for copying" 
                                    action="#{hierarchiesController.copyTreeNodes}" oncomplete="hierarchiesResizeAll();"
                                    disabled="#{not hierarchiesController.includesActive
                                                or not securityPolicy.getUIHint('HIERARCHY_CREATE')
                                                or empty hierarchiesController.containsTree.selectedNodes}"
                                    update=":hierarchies:hierarchyTabs:tree :hierarchies:pasteButton :hierarchies:cutButton 
                                            :hierarchies:copyButton" />
                                <p:commandButton value="Cut" id="cutButton" icon="ui-icon-scissors"
                                    title="Put selected items to clipboard for moving"
                                    action="#{hierarchiesController.cutTreeNodes}" oncomplete="hierarchiesResizeAll();"
                                    disabled="#{not hierarchiesController.includesActive 
                                                or not securityPolicy.getUIHint('HIERARCHY_CREATE')
                                                or empty hierarchiesController.containsTree.selectedNodes}"
                                    update=":hierarchies:hierarchyTabs:tree :hierarchies:pasteButton :hierarchies:cutButton 
                                            :hierarchies:copyButton" />
                                <p:commandButton value="Paste" id="pasteButton" icon="ui-icon-clipboard"
                                    title="Paste into the selected parent" oncomplete="PF('pasteSlots').show();"
                                    update=":pasteSlotsForm:pasteSlots"
                                    disabled="#{not hierarchiesController.includesActive
                                                    or not securityPolicy.getUIHint('HIERARCHY_CREATE')
                                                    or hierarchiesController.multipleNodesSelected
                                                    or hierarchiesController.clipboardEmpty}"
                                    action="#{hierarchiesController.checkPasteAction}" />
                                <p:commandButton id="qrPdf" value="Generate QR" title="Generate PDF with QR codes" 
                                    icon="ui-icon-print" action="#{hierarchiesController.prepareQrDialog}" 
                                    update=":slotQrDialogFrom:slotQrDialog" oncomplete="PF('slotQrDialog').show();" />
							</p:panel>
                        </p:fieldset>
                    </p:column>
                    <p:column style="width: 100%; padding: 0;" id="contentColumn">
                        <p:accordionPanel id="content" widgetVar="ContentAccordion" multiple="true" activeIndex="0,1,2"
                        	style="height: calc(100vh - 7em)">
                            <p:tab title="Properties">
                                <p:panel id="slotAttributes" style="padding: 0; border:0; height: calc((100vh - 6em) / 3);">
                                	<p:panel id="attributesTable" style="padding: 0; border:0;">
	                                    <rc:new-attribute-table controllerBean="#{slotAttributeController}" id="attributesDataTable"
	                                        updateButtons=":hierarchies:content:deleteAttrButton :hierarchies:content:editAttrButton"
	                                        parentName="Container/Slot" overlay="#{slotAttributeController.overlay}" overlayPanel="attributeOverlayPanel" />
                                    </p:panel>
									<p:panel styleClass="buttonRow">
	                                    <p:menuButton id="addAttrButton" value="Add"
	                                            disabled="#{not hierarchiesController.singleNodeSelected
	                                                        or not securityPolicy.getUIHint('HIERARCHY_CREATE')}">
	                                        <p:menuitem value="Container Property" oncomplete="PF('addPropertyValue').show();"
	                                                actionListener="#{slotAttributeController.prepareForPropertyValueAdd}"
	                                                disabled="#{hierarchiesController.selectedNodeSlot.hostingSlot}"
	                                                update=":addPropertyValueForm:addPropertyValue" title="Add property"/>
	                                        <p:menuitem value="Tag" oncomplete="PF('containerTag').show();" update=":containerTagForm"
	                                                actionListener="#{slotAttributeController.prepareForTagAdd}" title="Add tag"/>
	                                        <p:menuitem value="Artifact" oncomplete="PF('addArtifact').show();"
	                                                actionListener="#{slotAttributeController.prepareForArtifactAdd}"
	                                                update=":addArtifactForm:addArtifact" title="Add artifact" />
	                                    </p:menuButton>
	                                    <p:commandButton id="editAttrButton" value="Edit" icon="ui-icon-pencil"
	                                        action="#{slotAttributeController.prepareModifyPropertyPopUp}" 
	                                        title="Edit property"
	                                        disabled="#{not slotAttributeController.singleAttributeSelected or
	                                                    not slotAttributeController.canEdit(slotAttributeController.selectedAttributes.get(0))
	                                                    or not securityPolicy.getUIHint('HIERARCHY_MODIFY')}" />
	                                    <p:commandButton id="deleteAttrButton" value="Delete" icon="ui-icon-trash" title="Delete properties"
	                                        oncomplete="PF('deleteAttribute').show();"
	                                        disabled="#{not slotAttributeController.canDeleteAttributes() 
	                                                    or not securityPolicy.getUIHint('HIERARCHY_DELETE')}" />
									</p:panel>
                                </p:panel>
                            </p:tab>
                            <p:tab title="Relationships">
                                <p:panel id="relationsTable" style="padding: 0; border:0; height: calc((100vh - 6em) / 3);">
                                	<p:panel id="relationshipTable" style="padding: 0; border:0;">
	                                    <p:dataTable value="#{relationshipController.relationships}"
	                                            var="relationship" emptyMessage="No records found."
	                                            scrollable="true" scrollWidth="100%" scrollHeight="100" 
	                                            class="hierarchies-attributes-cell" resizableColumns="true" 
	                                            filteredValue="#{relationshipController.filteredRelationships}"
	                                            selectionMode="multiple" rowKey="#{relationship.id}"
	                                            selection="#{relationshipController.selectedRelationships}"
	                                            widgetVar="relationshipsWidget">
	                                        <p:ajax event="rowSelect" update=":hierarchies:content:editRelationship :hierarchies:content:deleteRelationship" />
	                                        <p:ajax event="rowUnselect" update=":hierarchies:content:editRelationship :hierarchies:content:deleteRelationship" />                                
	
	                                        <p:column headerText="Source" sortBy="#{relationship.sourceSlotName}" 
	                                                filterBy="#{relationship.sourceSlotName}" filterMatchMode="contains">
	                                            <h:outputText value="#{relationship.sourceSlotName}" />
	                                        </p:column>
	
	                                        <p:column headerText="Relationship" sortBy="#{relationship.relationshipName}"
	                                                filterOptions="#{relationshipController.relationshipTypes}"
	                                                filterBy="#{relationship.relationshipName}" filterMatchMode="exact">
	                                            <h:outputText value="#{relationship.relationshipName}" />
	                                        </p:column>
	
	                                        <p:column headerText="Target" sortBy="#{relationship.targetSlotName}"
	                                                filterBy="#{relationship.targetSlotName}" filterMatchMode="contains">
	                                            <p:commandLink action="#{hierarchiesController.selectNode(relationship.targetSlot)}"
	                                                    rendered="#{hierarchiesController.includesActive}"
	                                                    update=":hierarchies:content:relationsTable :hierarchies:deleteButton 
	                                                        :hierarchies:downButton :hierarchies:upButton :hierarchies:editButton 
	                                                        :hierarchies:addButton :hierarchies:content:installationDetails 
	                                                        :hierarchies:content:slotAttributes :hierarchies:content:addRelationship 
	                                                        :hierarchies:content:editRelationship :hierarchies:hierarchyTabs:tree"
	                                                    oncomplete="hierarchiesResizeAll();scrollSelectedIntoView(getVisibleTree());
	                                                    PF('relationshipsWidget').clearFilters();PF('attributesDataTable').clearFilters();">
	                                                <h:outputText value="#{relationship.targetSlotName}"
	                                                    style="text-decoration: underline;" />
	                                            </p:commandLink>
	                                            <h:outputText value="#{relationship.targetSlotName}"
	                                                rendered="#{not hierarchiesController.includesActive}" />
	                                        </p:column>
	                                    </p:dataTable>
                                    </p:panel>
									<p:panel styleClass="buttonRow">
	                                    <p:commandButton value="Add" id="addRelationship" icon="ui-icon-plus" title="Add relationship"
	                                        oncomplete="PF('addSlotRelationship').show()"
	                                        disabled="#{not hierarchiesController.singleNodeSelected 
	                                                    or not securityPolicy.getUIHint('RELATIONSHIP')}"
	                                        update=":addSlotRelationshipForm:addSlotRelationship"
	                                        actionListener="#{relationshipController.prepareAddRelationshipPopup}" />
	                                    <p:commandButton value="Edit" id="editRelationship" icon="ui-icon-pencil" title="Edit relationship"
	                                        oncomplete="PF('editSlotRelationship').show()"
	                                        disabled="#{not relationshipController.canRelationshipBeEdited() 
	                                                    or not securityPolicy.getUIHint('RELATIONSHIP')}"
	                                        update=":editSlotRelationshipForm:editSlotRelationship"
	                                        actionListener="#{relationshipController.prepareEditRelationshipPopup}" />                                
	                                    <p:commandButton id="deleteRelationship" value="Delete" title="Delete relationships" icon="ui-icon-trash"
	                                        oncomplete="PF('deleteRelationship').show();" 
	                                        disabled="#{empty relationshipController.selectedRelationships 
	                                                    or not securityPolicy.getUIHint('RELATIONSHIP')}" />
									</p:panel>
								</p:panel>
                            </p:tab>
                            <p:tab title="Installation">
                                <p:panel id="installationDetails" style="padding: 0; border:0; height: calc((100vh - 6em) / 3);">
                                	<p:panel id="installationTable" style="padding: 0; border:0;">
	                                    <p:dataTable value="#{installationController.installationRecords}"
	                                            var="installationRecord" widgetVar="installationWidget" resizableColumns="true" 
	                                            selectionMode="multiple" selection="#{installationController.selectedInstallationViews}"
	                                            emptyMessage="No records found." rowKey="#{installationRecord.slotName}"
	                                            filteredValue="#{installationController.filteredInstallationRecords}"
	                                            scrollable="true" scrollWidth="100%" scrollHeight="100% - 10em" class="hierarchies-attributes-cell">
	
	                                        <p:ajax event="rowSelect" update=":hierarchies:content:installDeviceBtn :hierarchies:content:uninstallDeviceBtn" />
	                                        <p:ajax event="rowUnselect" update=":hierarchies:content:installDeviceBtn :hierarchies:content:uninstallDeviceBtn" />                                
	
	                                        <p:column headerText="Slot" sortBy="#{installationRecord.slotName}" 
	                                                filterBy="#{installationRecord.slotName}" filterMatchMode="contains">
	                                            <h:outputText value="#{installationRecord.slotName}" />
	                                        </p:column>
	                                        <p:column headerText="Inventory ID" 
	                                                sortBy="#{installationRecord.deviceInventoryId}" 
	                                                filterBy="#{installationRecord.deviceInventoryId}">
	                                            <h:link outcome="deviceManager" value="#{installationRecord.deviceInventoryId}"
	                                                    class="link" rendered="#{installationRecord.deviceInstalled}">
	                                                <f:param name="id" value="#{installationRecord.installationRecord.device.id}" />
	                                            </h:link>
	                                            <h:outputText value="-" rendered="#{not installationRecord.deviceInstalled}" />
	                                        </p:column>
	                                        <p:column headerText="Timestamp" sortBy="#{installationRecord.installDate}"
	                                                filterBy="#{installationRecord.installDate}" filterMatchMode="contains">
	                                            <h:outputText value="#{installationRecord.installDate}"
	                                                    rendered="#{installationRecord.deviceInstalled}">
	                                                <f:convertDateTime pattern="#{msgs.timestampFormat}" />
	                                            </h:outputText>
	                                            <h:outputText value="-"
	                                                    rendered="#{not installationRecord.deviceInstalled}" />
	                                        </p:column>
	                                    </p:dataTable>
                                	</p:panel>
									<p:panel styleClass="buttonRow">
	                                    <p:commandButton title="Install device to selected slot" id="installDeviceBtn"
	                                            value="Install" ajax="true" icon="ui-icon-play" 
	                                            actionListener="#{installationController.prepareUninstalledDevices}"
	                                            oncomplete="PF('installDevice').show();" 
	                                            update=":hierarchies:content:installationDetails :installDeviceForm :installDeviceForm:installDevice"
	                                            disabled="#{not installationController.canInstall() 
	                                                        or not securityPolicy.getUIHint('INSTALLATION')}" />
	                                    <p:commandButton title="Uninstall device from selected slots" label="Uninstall" value="Uninstall" 
	                                        type="button" onclick="PF('uninstallConfirm').show();" id="uninstallDeviceBtn" 
	                                        icon="ui-icon-eject" 
	                                        disabled="#{not installationController.canUninstall() 
	                                                    or not securityPolicy.getUIHint('INSTALLATION')}" 
	                                        update=":hierarchies:content:installationDetails :hierarchies:growl" />
	                                </p:panel>
                                </p:panel>
                            </p:tab>
                        </p:accordionPanel>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>

        <h:form id="namingServiceErrorForm">
            <p:dialog widgetVar="namingServiceError" id="namingServiceError" modal="true" resizable="false" 
                    width="30em" closable="false" closeOnEscape="true" visible="#{names.error}"
                    onShow="$('#namingServiceErrorForm .defaultCommand').focus()">
                <f:facet name="header">
                    <h:outputText value="Naming Service Error" />
                </f:facet>
                <h:panelGroup style="margin-top: 1ex; margin-bottom: 1em;" layout="block">
                    <h:outputText value="There was an error connecting to the naming service." />
                </h:panelGroup>
                <p:panel style="text-align: right; padding: 0; border: 0;" styleClass="dialogButtonPanel">
                    <p:commandButton value="Ok" title="Ok" id="confirm" styleClass="dialogButton defaultCommand" 
                        onclick="PF('namingServiceError').hide();" />
                </p:panel>
                <p:defaultCommand target="confirm" />
            </p:dialog>
        </h:form>

        <ui:include src="/resources/dialogs/install-device.xhtml">
            <ui:param name="formId" value="installDeviceForm" />
            <ui:param name="dialogTitle" value="Select Device" />
            <ui:param name="widgetName" value="installDevice" />
            <ui:param name="slot" value="#{installationController.selectedInstallationViews.get(0).slot}" />
            <ui:param name="componentToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:content:relationsTable 
                                                        :hierarchies:content:installationDetails :hierarchies:growl" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters();" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-slots-confirmation.xhtml" >
            <ui:param name="formId" value="deleteSlotsForm" />
            <ui:param name="dialogTitle" value="#{hierarchiesController.numberOfSlotsToDelete gt 1
                                                        ? 'Delete Containers/Slots' 
                                                        : 'Delete Container/Slot'}" />
            <ui:param name="widgetName" value="deleteSlots" />
            <ui:param name="controller" value="#{hierarchiesController}" />
            <ui:param name="submitHandler" value="onSlotsDelete" />
            <ui:param name="formsToUpdate" value=":hierarchies:hierarchyTabs:tree :hierarchies:deleteButton
                    :hierarchies:content:slotAttributes :hierarchies:content:relationsTable 
                    :hierarchies:content:installationDetails :hierarchies:downButton :hierarchies:upButton 
                    :hierarchies:editButton :hierarchies:addButton :hierarchies:pasteButton :hierarchies:cutButton 
                    :hierarchies:copyButton :hierarchies:growl" />
            <ui:param name="resizeContent" value="hierarchiesResizeAll();" />
            <ui:param name="entityType" value="#{hierarchiesController.numberOfSlotsToDelete gt 1
                                                        ? 'the following slots:' : 'selected slot?'}" />
            <ui:param name="isTableDisplayed" value="true" />
            <ui:param name="slotsToDelete" value="#{hierarchiesController.slotsToDelete}" />
            <ui:param name="filteredSlotsToDelete" value="#{hierarchiesController.filteredSlotsToDelete}" />
            <ui:param name="resetFilter"
                value="PF('attributesDataTable').clearFilters(); PF('relationshipsWidget').clearFilters(); PF('installationWidget').clearFilters();" />
        </ui:include>

        <ui:include src="/resources/dialogs/paste-slots-confirmation.xhtml" >
            <ui:param name="formId" value="pasteSlotsForm" />
            <ui:param name="widgetName" value="pasteSlots" />
            <ui:param name="formsToUpdate" value=":hierarchies:cutButton :hierarchies:pasteButton
                    :hierarchies:hierarchyTabs:tree :hierarchies:growl" />
            <ui:param name="closeDialogActions" value="hierarchiesResizeAll();" />
        </ui:include>

        <ui:include src="/resources/dialogs/add-or-modify-slot.xhtml">
            <ui:param name="formId" value="editSlotForm" />
            <ui:param name="widgetName" value="editSlotDialog" />
            <ui:param name="dialogTitle" value="Edit #{hierarchiesController.installationSlot ? 'Slot' : 'Container'}" />
            <ui:param name="submitHandler" value="onSlotModify" />
        </ui:include>

        <ui:include src="/resources/dialogs/add-or-modify-slot.xhtml">
            <ui:param name="formId" value="addSlotForm" />
            <ui:param name="widgetName" value="addSlotDialog" />
            <ui:param name="dialogTitle" value="Add #{hierarchiesController.installationSlot ? 'Slot' : 'Container'}" />
            <ui:param name="submitHandler" value="onSlotAdd" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml">
            <ui:param name="formId" value="deleteAttributeForm" />
            <ui:param name="dialogTitle" value="Delete Properties" />
            <ui:param name="widgetName" value="deleteAttribute" />
            <ui:param name="controller" value="#{slotAttributeController}" />
            <ui:param name="submitHandler" value="deleteAttributes" />
            <ui:param name="formsToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="entityType" value="selected attribute" />
            <ui:param name="closeDialogActions" value="PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
            <ui:param name="entityType" value="properties" />
            <ui:param name="entityName" value="Property" />            
            <ui:param name="deleteList" value="#{slotAttributeController.selectedAttributes}" />          
        </ui:include>

        <ui:include src="/resources/dialogs/property-value.xhtml">
            <ui:param name="formId" value="modifyPropertyValueForm" />
            <ui:param name="dialogTitle" value="Edit Property" />
            <ui:param name="widgetName" value="modifyPropertyValue" />
            <ui:param name="controller" value="#{slotAttributeController}" />
            <ui:param name="submitHandler" value="modifyPropertyValue" />
            <ui:param name="componentToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
        </ui:include>

        <ui:include src="/resources/dialogs/property-value.xhtml">
            <ui:param name="formId" value="addPropertyValueForm" />
            <ui:param name="dialogTitle" value="Add Property" />
            <ui:param name="widgetName" value="addPropertyValue" />
            <ui:param name="controller" value="#{slotAttributeController}" />
            <ui:param name="submitHandler" value="addPropertyValue" />
            <ui:param name="componentToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
        </ui:include>

        <ui:include src="/resources/dialogs/tag.xhtml" >
            <ui:param name="formId" value="containerTagForm" />
            <ui:param name="dialogTitle" value="Add Tag" />
            <ui:param name="widgetName" value="containerTag" />
            <ui:param name="controller" value="#{slotAttributeController}" />
            <ui:param name="submitHandler" value="addNewTag" />
            <ui:param name="componentToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
        </ui:include>

        <ui:include src="/resources/dialogs/artifact.xhtml" >
            <ui:param name="formId" value="addArtifactForm" />
            <ui:param name="dialogTitle" value="Add Artifact" />
            <ui:param name="widgetName" value="addArtifact" />
            <ui:param name="controller" value="#{slotAttributeController}" />
            <ui:param name="submitHandler" value="modifyArtifact" />
            <ui:param name="componentToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
        </ui:include>

        <ui:include src="/resources/dialogs/artifact.xhtml">
            <ui:param name="formId" value="modifyArtifactForm" />
            <ui:param name="dialogTitle" value="Edit Artifact" />
            <ui:param name="widgetName" value="modifyArtifact" />
            <ui:param name="controller" value="#{slotAttributeController}" />
            <ui:param name="submitHandler" value="modifyArtifact" />
            <ui:param name="componentToUpdate" value=":hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="resetFilter" value="PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml">
            <ui:param name="formId" value="deleteRelationshipForm" />
            <ui:param name="dialogTitle" value="Delete Relationships" />
            <ui:param name="widgetName" value="deleteRelationship" />
            <ui:param name="controller" value="#{relationshipController}" />
            <ui:param name="submitHandler" value="onRelationshipDelete" />
            <ui:param name="formsToUpdate" value=":hierarchies:content:relationsTable :hierarchies:content:deleteRelationship
                    :hierarchies:hierarchyTabs:tree :hierarchies:content:editRelationship :hierarchies:growl" />
            <ui:param name="entityType" value="selected relationships" />
            <ui:param name="entityName" value="Relationship" />
            <ui:param name="entityProperty" value="targetSlotName" />
            <ui:param name="closeDialogActions" value="PF('relationshipsWidget').clearFilters(); hierarchiesResizeAll();" />
            <ui:param name="deleteList" value="#{relationshipController.selectedRelationships}" />
        </ui:include>

        <ui:include src="/resources/dialogs/delete-multi-confirmation.xhtml">
            <ui:param name="formId" value="uninstallationForm" />
            <ui:param name="dialogTitle" value="Uninstall devices" />
            <ui:param name="widgetName" value="uninstallConfirm" />
            <ui:param name="controller" value="#{installationController}" />
            <ui:param name="message" value="Are you sure you want to uninstall selected devices?"/>
            <ui:param name="submitHandler" value="uninstallDevice" />
            <ui:param name="formsToUpdate" value=":hierarchies:content:installationDetails :hierarchies:content:slotAttributes :hierarchies:growl" />
            <ui:param name="entityName" value="Device" />
            <ui:param name="entityProperty" value="deviceInventoryId" />
            <ui:param name="closeDialogActions" 
                value="PF('installationWidget').clearFilters(); PF('attributesDataTable').clearFilters(); hierarchiesResizeAll();" />
            <ui:param name="deleteList" value="#{installationController.selectedInstallationViews}" />
        </ui:include>

        <ui:include src="/resources/dialogs/confirm-dialog.xhtml">
            <ui:param name="formId" value="slotPairLoopNotificationForm" />
            <ui:param name="widgetName" value="slotPairLoopNotification" />
            <ui:param name="dialogTitle" value="Slot Pair Loop" />
            <ui:param name="message" value="Relationship 'contains' between these two slots cannot be created because this would result in loop." />
        </ui:include>

        <ui:include src="/resources/dialogs/confirm-dialog.xhtml">
            <ui:param name="formId" value="cantDeleteRelationForm" />
            <ui:param name="widgetName" value="cantDeleteRelation" />
            <ui:param name="dialogTitle" value="Cannot Delete Slot Relationship" />
            <ui:param name="message" value="This relationship cannot be deleted, because every slot must have at least one 'contained in' relationship." />
        </ui:include>

        <ui:include src="/resources/dialogs/confirm-dialog.xhtml">
            <ui:param name="formId" value="cannotFindSlotForm" />
            <ui:param name="widgetName" value="cannotFindSlot" />
            <ui:param name="dialogTitle" value="Cannot Find the Requested Slot" />
            <ui:param name="message" value="The requested slot '#{hierarchiesController.requestedSlot}' could not be located in the database." />
        </ui:include>

        <ui:include src="/resources/dialogs/export-table.xhtml">
            <ui:param name="formId" value="exportSlotsForm" />
            <ui:param name="widgetName" value="exportSlots" />
            <ui:param name="dialogTitle" value="Export Slots" />
            <ui:param name="fileFormatSelection" value="#{hierarchiesController.simpleTableDialog.fileFormat}" />
            <ui:param name="includeHeader" value="#{hierarchiesController.simpleTableDialog.includeHeaderRow}" />
            <ui:param name="tableFile" value="#{hierarchiesController.simpleTableDialog.exportedTable}" />
        </ui:include>

        <ui:include src="/resources/dialogs/add-relationship.xhtml">
            <ui:param name="formId" value="addSlotRelationshipForm" />
            <ui:param name="widgetName" value="addSlotRelationship" />
            <ui:param name="selectProperty" value="#{relationshipController.containsTree.selectedNodesArray}" />
        </ui:include>

        <ui:include src="/resources/dialogs/add-relationship.xhtml">
            <ui:param name="formId" value="editSlotRelationshipForm" />
            <ui:param name="widgetName" value="editSlotRelationship" />
            <ui:param name="selectProperty" value="#{relationshipController.editedRelationshipView.targetNode}" />
        </ui:include>

        <ui:include src="/resources/dialogs/qr-dialog.xhtml">
            <ui:param name="formId" value="slotQrDialogFrom" />
            <ui:param name="widgetName" value="slotQrDialog" />
            <ui:param name="dialogTitle" value="Generate QR Code" />
        </ui:include>

        <ui:include src="/resources/dialogs/linkdialog.xhtml" />

		<ui:include src="/resources/dialogs/overlay-value.xhtml">
			<ui:param name="formId" value="attributeOverlayPanel" />
			<ui:param name="valueProvider" value="#{slotAttributeController.overlay}" />
		</ui:include>

        <script type="text/javascript">
            //<![CDATA[
            jQuery(window).resize(function() {
                hierarchiesResizeAll();
                scrollSelectedIntoView(PF('hierarchyWidget'));
            });

            jQuery(document).ready(function() {
                hierarchiesResizeAll();
                scrollSelectedIntoView(PF('hierarchyWidget'));
                takeOverAccordion();
            });
            function calculateContentHeight(activeHeadersNum) {
				var margin = emHeight() / 2;
                var containerHeight = window.innerHeight - $("#top").outerHeight(true) - 4 * margin;
                var acc = PF("ContentAccordion");
                var headersNum = acc.headers.length;
                if (activeHeadersNum === undefined) activeHeadersNum = acc.cfg.active.length;
                if (activeHeadersNum < 1) return;
                var headersHeight = $($(PrimeFaces.escapeClientId("hierarchies:content") + " h3")[0]).outerHeight(true) * headersNum;
                var activePanelIndex = acc.cfg.active[0];
				var buttons = $(PF("ContentAccordion").panels[activePanelIndex]).find(".buttonRow");
                var buttonHeight = $(buttons[0]).outerHeight(true);
                var availableHeight = containerHeight - headersHeight;
                var openTabHeight = availableHeight / activeHeadersNum;
                var tabAreaHeight = openTabHeight - margin;

				var tabAreas = ["hierarchies:content:slotAttributes", "hierarchies:content:relationsTable", "hierarchies:content:installationDetails"];
				$.each(tabAreas, function(i) {
	                $(PrimeFaces.escapeClientId(tabAreas[i])).css("height", tabAreaHeight + "px");
				});
				
                var tableAreaHeight = tabAreaHeight - buttonHeight - margin;
				var tableAreas = ["hierarchies:content:attributesTable", "hierarchies:content:relationshipTable", "hierarchies:content:installationTable"];
				$.each(tableAreas, function(i) {
					var area = $(PrimeFaces.escapeClientId(tableAreas[i]));
					area.css("height", tableAreaHeight + "px");
	                adjustTableScrollers(area);
				});
            }
            function takeOverAccordion() {
                var events = jQuery._data(PF("ContentAccordion").headers[0], "events");
                CCDB.oldAccordionHandler = events.click[0].handler;
                events.click[0].handler = newAcordionHandler;
                events = jQuery._data(PF("ContentAccordion").headers[1], "events");
                events.click[0].handler = newAcordionHandler;
                events = jQuery._data(PF("ContentAccordion").headers[2], "events");
                events.click[0].handler = newAcordionHandler;
            }
            function newAcordionHandler(event) {
                var element = $(this);
                if(!element.hasClass('ui-state-disabled')) {
                    if(element.hasClass('ui-state-active')) {
                    	CCDB.oldAccordionHandler.call(this, event);
                        calculateContentHeight();
                    }
                    else {
                        calculateContentHeight(PF("ContentAccordion").cfg.active.length + 1);
                        CCDB.oldAccordionHandler.call(this, event);
                        calculateContentHeight();
                    }                    
                }
                event.preventDefault();
            }
            function adjustTableScrollers(panel) {
                var availableHeight = panel.outerHeight();
                var headerHeight = panel.find(".ui-datatable-scrollable-header").outerHeight();
                panel.find(".ui-datatable-scrollable").css("overflow", "visible");
                panel.find(".ui-datatable-scrollable-body").css("height", (availableHeight - headerHeight) + "px");
            }
            // PrimeFaces Shift-select workaround. Event is triggered on the last node. This is not a propert solution!
            PrimeFaces.widget.TreeTable.prototype.selectNodesInRange = function(node) {
                if (this.cursorNode) {
                    this.unselectAllNodes();

                    var currentNodeIndex = node.index(),
                    cursorNodeIndex = this.cursorNode.index(),
                    startIndex = (currentNodeIndex > cursorNodeIndex) ? cursorNodeIndex : currentNodeIndex,
                    endIndex = (currentNodeIndex > cursorNodeIndex) ? (currentNodeIndex + 1) : (cursorNodeIndex + 1),
                    nodes = this.tbody.children();

                    for (var i = startIndex ; i < endIndex; i++) {
                        this.selectNode(nodes.eq(i), (i != (endIndex - 1))); // fire event for the last node
                    }
                } else {
                    this.selectNode(node);
                }
            };
            // ]]>
        </script>
    </ui:define>
</ui:composition>
