<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="id" required="true" />
        <cc:attribute name="controllerBean" required="true" />
        <cc:attribute name="updateButtons" />
        <cc:attribute name="parentName" />
        <cc:attribute name="overlay" />
        <cc:attribute name="overlayPanel" />
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="#{cc.attrs.id}" var="attribute" value="#{cc.attrs.controllerBean.attributes}"
                selection="#{cc.attrs.controllerBean.selectedAttributes}" selectionMode="multiple" liveScroll="true"
                rowKey="#{attribute.id}" style="overflow: hidden" scrollHeight="100%" emptyMessage="No records found." 
                scrollable="true" resizableColumns="true" filteredValue="#{cc.attrs.controllerBean.filteredAttributes}"
                tableStyle="word-wrap: break-word;" widgetVar="attributesDataTable" scrollRows="20">
            <p:ajax event="filter" ignoreAutoUpdate="true" />
            <p:ajax event="rowSelect" update="#{cc.attrs.updateButtons}" />
            <p:ajax event="rowUnselect" update="#{cc.attrs.updateButtons}" />

            <p:column headerText="#{cc.attrs.parentName}" sortBy="#{attribute.parent}" filterBy="#{attribute.parent}"
                    filterMatchMode="contains">
                <h:outputText value="#{attribute.parent}" />
            </p:column>

            <p:column headerText="Name" sortBy="#{attribute.name}" filterBy="#{attribute.name}"
                    filterMatchMode="contains">
                <h:outputText value="#{attribute.name}" />
            </p:column>

            <p:column headerText="Value" style="width: 30%" sortBy="#{attribute.value}" filterBy="#{attribute.value}"
                    filterMatchMode="contains">
                <h:outputLink rendered="#{attribute.hasURL}" target="_blank" value="#{attribute.value}" title="Go to URL">
                    <h:outputText value="#{attribute.value}" style="text-decoration: underline;" />
                </h:outputLink>
			    <p:commandLink update=":#{cc.attrs.overlayPanel}" oncomplete="PF('#{cc.attrs.overlayPanel}').show('#{component.clientId}');"
			    		 rendered="#{not attribute.hasURL}">
			        <f:setPropertyActionListener target="#{cc.attrs.overlay.value}" value="#{attribute.value}" />
			        <h:outputText value="#{attribute.value.length() lt 46 ? (!empty attribute.value ? attribute.value : '-') : attribute.value.substring(0,45).concat('...')}" />
			    </p:commandLink>
                <p:commandLink ajax="false" title="Download" rendered="#{attribute.hasFile}" style="margin-left: 1ex;">
                    <h:outputText styleClass="ui-icon ui-icon-arrowthick-1-s" style="display: inline-block !important; margin-right: 6px;" />
                    <f:setPropertyActionListener value="#{attribute}" target="#{cc.attrs.controllerBean.downloadArtifact}" />
                    <p:fileDownload value="#{cc.attrs.controllerBean.downloadFile}" />
                </p:commandLink>
            </p:column>

            <p:column headerText="Unit" sortBy="#{attribute.unit}" filterBy="#{attribute.unit.name}"
                    filterMatchMode="contains">
                <h:outputLink rendered="#{!empty attribute.unit}"
                        value="#{request.contextPath}/units.xhtml?id=#{attribute.unit.id}">
                    <h:outputText value="#{attribute.unit.name}" style="text-decoration: underline;" />
                </h:outputLink>
                <h:outputText value="-" rendered="#{empty attribute.unit}" />
            </p:column>

            <p:column headerText="Kind" sortBy="#{attribute.kind.toString()}" filterBy="#{attribute.kind}"
                    filterMatchMode="exact" filterOptions="#{cc.attrs.controllerBean.attributeKinds}">
                <h:outputText value="#{attribute.kind.toString()}" />
            </p:column>

            <p:column headerText="Data Type" sortBy="#{attribute.type.name}" filterBy="#{attribute.type.name}"
                    filterMatchMode="contains">
                <h:outputText value="#{not empty attribute.type ? attribute.type.name : '-'}" 
                    rendered="#{!attribute.userDefinedDataType}" />
                <h:outputLink rendered="#{attribute.userDefinedDataType}" 
                        value="#{request.contextPath}/enums.xhtml?id=#{attribute.type.id}">
                    <h:outputText value="#{attribute.type.name}" style="text-decoration: underline;" />
                </h:outputLink>
            </p:column>
        </p:dataTable>
        <script type="text/javascript">
            // <![CDATA[
                jQuery(document).on("pfAjaxComplete", dataTableAjaxFix);

                jQuery(document).ready(function() {
                    PF('attributesDataTable').loadLiveRows = (function() 
                    {
                        var actuallyLoaded = $(this.jqId).find(".ui-datatable-scrollable-body").
                                                find(".ui-datatable-data").find(".ui-widget-content").length;
                        if (this.liveScrollActive || (actuallyLoaded >= this.cfg.scrollLimit)) {
                            return;
                        }

                        var oldOffset = this.scrollOffset; // this
                        this.liveScrollActive = true;
                        this.scrollOffset += this.cfg.scrollStep;
    
                        // Disable scroll if there is no more data left
                        if (this.scrollOffset === this.cfg.scrollLimit) {
                            this.shouldLiveScroll = false;
                        }
                        
                        var $this = this,
                        options = {
                            source: this.id,
                            process: this.id,
                            update: this.id,
                            formId: this.cfg.formId,
                            params: [{name: this.id + '_scrolling', value: true},
                                            {name: this.id + '_skipChildren', value: true},
                                            {name: this.id + '_scrollOffset', value: oldOffset},  // <-- this.scrollOffset
                                            {name: this.id + '_encodeFeature', value: true}],
                            onsuccess: function(responseXML, status, xhr) {
                                PrimeFaces.ajax.Response.handle(responseXML, status, xhr, {
                                    widget: $this,
                                    handle: function(content) {
                                        //insert new rows
                                        this.updateData(content, false);
                                        this.liveScrollActive = false;
                                    }
                                });
    
                                return true;
                            },
                            oncomplete: function(xhr, status, args) {
                                if(args.totalRecords) {
                                    $this.cfg.scrollLimit = args.totalRecords;
                                }
                                var actuallyLoaded = $($this.jqId).find(".ui-datatable-scrollable-body").
                                                    find(".ui-datatable-data").find(".ui-widget-content").length;
                                $this.loadingLiveScroll = false;
                                $this.allLoadedLiveScroll = actuallyLoaded >= $this.cfg.scrollLimit;
                            }
                        };
                        PrimeFaces.ajax.Request.handle(options);
                    });
                });

            // ]]>
        </script>
    </cc:implementation>
</html>